{% load static i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Amirali Portfolio{% endblock %}</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Amirali</h2>
        <ul>
            <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">{% trans "About" %}</a></li>
            <li><a href="{% url 'resume' %}" class="{% if request.path == '/resume/' %}active{% endif %}">{% trans "Resume" %}</a></li>
            <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">{% trans "Contact" %}</a></li>
        </ul>

        <!-- Language Links -->
        <ul class="language-links">
            <li><a href="/" class="{% if LANGUAGE_CODE == 'en' %}active{% endif %}">English</a></li>
            <li><a href="/fa/" class="{% if LANGUAGE_CODE == 'fa' %}active{% endif %}">فارسی</a></li>
            <li><a href="/it/" class="{% if LANGUAGE_CODE == 'it' %}active{% endif %}">Italiano</a></li>
        </ul>

    </div>

    <!-- Main Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
